#root {
  /* max-width: ; */
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.app-wr {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  height: 100%;
}

.element-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;

  .scene-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    .right-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 20%;
      width: -webkit-fill-available;

      .search-cnt {
        max-height: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        #asteroids-day {
          padding: 1rem 2rem;
          font-family: monospace;
          border-radius: 10px;
          border: 1px solid transparent;
          box-shadow: none;
          transition: all 0.4s ease-in-out;

          &:hover {
            background: #2f3636;
            border: 1px solid rgba(255, 255, 255, 0.062);
          }
        }
      }

      .list-ast {
        height: 100%;
        overflow-y: scroll;
        .ast-li {
          list-style: none;
          cursor: pointer;
          .asteroid-details {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            font-size: 14px;
          }
          .ast-a {
            text-decoration: none;
            color: #e5d840;
          }
        }
      }
    }
  }


}

.right-section h1 {
  font-size: 2rem;
  margin: 1rem;
  user-select: none;
}
.divider{
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #f9df63;
  margin-top: 1rem;
}
.loader-wr {
  background-color: transparent;

  img {
    width: 100px;
    height: 100px;
  }
}

.header-wr {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #9142, #384444);
  box-shadow: 0px 1px 3px #f9df63;
}

.footer-wr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #151515;
}
@media screen and (min-width: 768px) {
  .scene-container {
    flex-direction: row;
    height: calc(100vh - 150px)
  }
  .list-ast {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .scene-container {
    flex-direction: column;
    min-height: 50vh;
    height: calc(100vh - 100px)
  }
  .right-section {
    min-width: 100%;
    max-height: 50vh;
  }
  .footer-wr {
    height: 50px;
  }
}